[tool.poetry]
name = "volumentations"
version = "0.1.7"
description="Point augmentations library as hard-fork of albu-team/albumentations"
homepage="https://github.com/kumuji/volumentations"
repository="https://github.com/kumuji/volumentations"
documentation = "https://volumentations.readthedocs.io/en/latest/"
authors = ["kumuji <alexey@nekrasov.dev>"]
license = "MIT"
readme="README.md"
classifiers=[
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: MIT License",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    'Topic :: Scientific/Engineering :: Artificial Intelligence',
]

[tool.poetry.dependencies]
python = "^3.6.1"
pyyaml = "^5.3.1"
numpy = "^1.18.3"
importlib-metadata = "^1.6.0"

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
flake8 = "^3.8.3"
flake8-docstrings = "^1.5.0"
flake8-isort = "^3.0.0"
flake8-bandit = "^2.1.2"
flake8-black = "^0.1.2"
flake8-bugbear = "^20.1.4"
mypy = "^0.782"
pre-commit = "^2.6.0"
coverage = {extras = ["toml"], version = "^5.2"}
pytest-cov = "^2.10.0"
nox = "^2020.5.24"
pytest-mock = "^3.1.1"
safety = "^1.9.0"
darglint = "^1.5.8"
xdoctest = "^0.12.0"
sphinx = "<4.0"
sphinx-autodoc-typehints = "^1.10.3"
sphinx_rtd_theme = "^0.5.0"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
# poetry run pytest --cov
branch = true
source = ["volumentations"]

[tool.coverage.report]
show_missing = true
fail_under = 50

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
